{% extends 'baseBack.html.twig' %}
{% block title %}
Nouvelle Livraison 
{% endblock %}
{% block body %}
    <h1>Ajouter une Livraison</h1>

    {{ include('livraison/_form.html.twig') }}

    <a href="{{ path('app_livraison_index') }}">Retour</a>
{% endblock %}
