{% extends 'baseBack.html.twig' %}
{% block title %}
	Nouvelle Livraison
{% endblock %}
{% block body %}
	<h1>Ajouter une Livraison</h1>
	<br>
	{{ include('livraison/_form.html.twig') }}

	<br>
	<a href="{{ path('app_livraison_index') }}" class="btn btn-success custom-btn">Retour</a>
{% endblock %}
