{% extends 'baseFront.html.twig' %}

{% block body %}
<style>
.my-custom-class{
    color: red;
}
#reservation{
   display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
}
</style>
	<style>
		h1 {
			font-size: 32px;
			font-weight: bold;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 0;
		}
	</style>
    <h1>Ajouter une réservation</h1>
<a href="{{ path('app_reservation_index') }}" class="btn btn-success custom-btn mb-3"style="margin-left: 200px;">Retour</a>

    {{ include('reservation/_form2.html.twig') }}

    
{% endblock %}
