{% extends 'baseBack.html.twig' %}

{% block body %}
    <h1>Create new Reservation</h1>
<a href="{{ path('app_reservation_index') }}" class="btn btn-success mb-3">Retour</a>

    {{ include('reservation/_form.html.twig') }}

    
{% endblock %}
