<form method="post" action="{{ path('app_produit_delete', {'ref_produit': produit.ref_produit}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.ref_produit) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>