{% extends 'baseFront.html.twig' %}


{% block title %}
	nouvelle Commande
{% endblock %}
{% block body %}

	<style>
		h1 {
			font-size: 32px;
			font-weight: bold;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 0;
		}
	</style>

	<h1>Ajouter une Commande</h1>

	{{ include('commande/_form.html.twig', {'orderCount': orderCount}) }}

{% endblock %}
