{% extends 'baseBack.html.twig' %}

{% block body %}
	<h1>Ajouter une question</h1>

	<!-- dans le template Twig pour la page de destination -->
	<h1>Votre score est :
		{{ score }}</h1>

{% endblock %}
