<!DOCTYPE html>

<title>Quiz</title>

<div class="card">
	<img class="card-img-top" src="{{ asset('uploads/' ) }}" alt="{{ quiz.getNom() }}">
	<div class="card-body">
		<h5 class="card-title">{{ quiz.getNom() }}</h5>
		<p class="card-text">{{ quiz.getDifficulte() }}</p>

	</div>
</div>
