<!DOCTYPE html>

<title>Quiz</title>

<div class="card">

	<div class="card-body">
		<h5 class="card-title">{{ quiz.getNom() }}</h5>
		<p class="card-text">{{ quiz.getDifficulte() }}</p>

	</div>
</div>
