<form method="post" action="{{ path('app_bonplan_delete', {'idBonplan': bonplan.idBonplan}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce bon plan ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bonplan.idBonplan) }}">
    <button class="btn btn-success custom-btn btn-delete">Supprimer</button>
</form>
