
{% extends 'baseBack.html.twig' %}

{% block body %}
    <h1>Edit Bonplan</h1>

    {{ include('bonplan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bonplan_index') }}">back to list</a>

    {{ include('bonplan/_delete_form.html.twig') }}
{% endblock %}
