{% extends 'baseBack.html.twig' %}


{% block body %}
    <h1>Ajouter un bon plan</h1>
       <a href="{{ path('app_bonplan_index') }}" class="btn btn-success mb-3">Retour</a>

    {{ include('bonplan/_form.html.twig') }}

    
{% endblock %}
